p ,h1{color: rgb(0, 0, 0);}
body{
    background-color: rgb(255, 255, 255);
}
#p1{
    color: aqua;
}
#p2{color: hsla(0, 99%, 49%, 0.527);}
 
.even{
    color: rgb(3, 0, 151);
}
.odd{
    color: #fcf803;
}
h1 {font-family:VERDANA ,Arial;

f{
    background-color: rgb(0, 219, 219);
}

}
p {font-family: "lucida console" , "courier new ";
font-size: 1.5em;
font-weight: bold;
font-style: oblique;


}
/*@font-face {
    font-family: ;
    src: url();
}*/
h1{
    border: inset 3px hsl(0, 98%, 50%);
    border-radius: 15px;
}
p{
    border-bottom: #fcf803 outset 5px;
    border-top: #525000 outset 2px;
    border-left: 5px dotted red;
    border-right: 5px dotted red;
    border-radius: 10px;
}
h1{
    text-shadow: 2px 1px 5px red, -2px -1px 5px blue;
}
#box1{
width: 150px;background-color: lch(52.49% 0.4 18.47);height: 150px;
box-shadow: 2px 2px 5px violet;
border-radius: 10px;

}