body{
    margin: 5px;
}
.box{
    border:5px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 5em;
    width: 250px;
    height: 250px;margin: auto;
}
#box1{background-color: red; margin-right: auto;}
#box2{background-color: blue
;margin-left: auto;}
#box3{margin: auto;
background-color: purple;
}